$bk: #000;
$wt: #fff;
$win: #bdbebd;
$roboto: 'Roboto', sans-serif;
$pix: 'DotGothic16', sans-serif;
$inco: 'Inconsolata', monospace;
$ops: 'Open Sans', sans-serif;
$wsans: 'Work Sans', sans-serif;
$pix2: 'VT323', monospace;
$sync: 'Syncopate', sans-serif;
$las: 'Las Enter Personal Use Only', cursive;
$abu: 'Abuget', cursive;
$plb: 'Playball', cursive;
$cav: 'Caveat', cursive;
$ital: 'Italianno', cursive;